// main {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
// }
// .main-title{
//   height: 60vh;
//   width: 100%;
//   align-items: center;
// }
// .main-title img{
//     object-fit: contain;
//     height: 100%;
//     width: 100%;
//     z-index: 1;
    
//     & #one {
//         left: 40px;
//     }
//     & #two {
//         right: 40px;
//     }
// }


.row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 33.33%;
    margin: 80px;
  }
  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  h2{
    font-size: 150px;
    z-index:2;
    text-align: center;
} 

