$color-primary: #b21d1d;
$color-secondary: #D5D8D7;
$color-tertiary:  hsl(197, 7%, 21%);
$color-warning: hsl(0, 44%, 61%) !default;

$background-color: #E5E7E6;
$font-family: 'Jost', sans-serif;
$font-size: 14px;
$font-hover-color: #D7DBD1;
$font-color-light: #869376;
$font-color-dark:#4da1c2;
$header-height: 88px;

$dark-spring-green: hsla(144, 77%, 25%, 1);
$tyrian-purple: hsla(321, 90%, 24%, 1);
$rose-quartz: hsla(315, 12%, 67%, 1);
$amber: hsla(45, 93%, 50%, 1);
$mulberry: hsla(331, 53%, 53%, 1);
$selective-yellow: hsla(44, 96%, 51%, 1);
$indigo-dye: hsla(206, 68%, 23%, 1);

$hover-color:rgba(78, 85, 81, 0.517);

$workarea-background-color: hsl(96, 98%, 42%);
$workarea-min-height: calc(100vh - 136px);
