$color-primary: #b21d1d;
$color-secondary: #D5D8D7;
$color-tertiary:  hsl(197, 7%, 21%);
$color-warning: hsl(0, 44%, 61%) !default;

$background-color: #E5E7E6;
$font-family: 'Jost', sans-serif;
$font-size: 14px;
$font-hover-color: #D7DBD1;
$font-color-light: #869376;
$font-color-dark:#4da1c2;
$header-height: 88px;

$hover-color:#4E5551;

$workarea-background-color: hsl(0, 79%, 45%)fff;
$workarea-min-height: calc(100vh - 136px);
